<div class="header-container">
  <div class="title">
    <h1><i class="fa-solid fa-film"></i> Movie Center</h1>

  </div>


  <div class="search-bar">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="What are you lookin' for?" aria-label="Search">
        <button class="btn btn-info" type="submit">Search</button>
     </form>
  </div>
</div>
<div class="button">
      <a href="lists" class ="btn btn-dark">See all lists list</a>
      <a href="#" class= "btn btn-dark">My movie list</a>
</div>
<div class="container">
  <h1>Add a new list</h1>
<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
